.menu {
  &__content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: ;
    width: 220px;
    padding-bottom: 8px;

    .separate {
      border-top: 1px solid rgba(22, 24, 35, 0.12);
    }
  }

  &__item {
    width: 100%;
    padding: 8px 0;
    background-color: #fff;
    border: none;
    outline: none;
    text-decoration: none;
    text-align: left;
    transition: all 0.2s ease;
    color: black;
    font-weight: 600;

    &:hover {
      background-color: rgba(22, 24, 35, 0.03);
    }

    span {
      padding-left: 8px;
      font-size: 16px;
    }
  }
}
