.btn__control {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  min-width: 100px;
  min-height: 30px;
  padding: 9px 16px;
  border-radius: 4px;

  font-weight: 600;
  border: none;
  text-decoration: none;

  + .btn__control {
    margin-left: 8px;
  }
}

// ================== custom button =================

// .primary {
//   background-color: rgba(254, 44, 85, 1);
//   color: rgba(255, 255, 255, 1);
//   transition: all 0.3s ease;

//   &:hover {
//     background-color: rgb(179, 31, 60);
//   }
// }

// .outline {
//   color: rgba(254, 44, 85, 1);
//   border-color: rgba(254, 44, 85, 1);
//   border: 1px solid rgba(254, 44, 85, 1);
//   &:hover {
//     background-color: rgba(254, 44, 85, 0.06);
//   }
// }

// .text {
//   &:hover {
//     text-decoration: underline;
//     background-color: rgba(22, 24, 35, 0.03);
//   }
//   border: 2px solid rgba(22, 24, 35, 0.12);
// }
